.banner{
    background-image: url("../../image/football-ground.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    margin-bottom: 0;
}

.banner h1{
    color: rgb(170, 243, 53);   
    padding: 120px 0;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}